@inherits LayoutComponentBase
<div class="page">

    <main>
        <article class="content px-2">
            <div class="container-sm align-middle" style="max-width: 767.98px">
                @Body
            </div>
        </article>
    </main>
</div>
