<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />

    <HeadOutlet/>
</head>

<body>
    <script>  
        const url = new URL(window.location.href);
        if(url.pathname == "/"){
            console.log(url.pathname);
            window.location.replace("/");
    </script>
<Routes/>
	<script src="js/SiteJs.js"></script>
</body>

</html>
