<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7MN2CWPR92"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7MN2CWPR92');
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />

    <HeadOutlet/>
</head>

<body>
    <script>

        const url = new URL(window.location.href);
        if(url.pathname != "/"){
            gtag('event', 'Location', {
              'scanLocation': url.pathname,
            });
            console.log(url.pathname);
            window.location.replace("/");
        }
    </script>
    <Routes/>
	<script src="js/SiteJs.js"></script>
</body>

</html>
